<!DOCTYPE html>
<html lang="en">
<head>
    <title>Shopping Cart</title>
    <%- include('partials/navbar') %>
    <style>
        
        h1 {
            text-align: center;
            font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            margin-bottom: 5%;
        }

        
        .cart-item {
            margin: auto;
            width: 90%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 1px solid #ddd;
            border-radius: 8px;
            padding: 10px;
            margin-bottom: 10px;
        }

        .image-box {
            width: 0%;
            text-align: center;
        }

        .about {
            flex-grow: 1;
            padding: 0 10px;
            text-align: left;
        }

        .text-details {
            width: 70%; 
            margin-left: 20%;
        }

        .name {
            padding-top: 5px;
            line-height: 1.2;
            font-size: 20px;
            font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-weight: 400;
            color: #202020;
        }

        .weight {
            line-height: 1.2;
            font-size: 18px;
            align-items: left;
            font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-weight: 400;
            color: #909090;
        }

      

        .counter {
            width: 15%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .qty-container {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-right: 1.5%;
        }

        .qty-container .input-qty {
            text-align: center;
            padding: 6px 10px;
            border: 1px solid #d4d4d4;
            max-width: 50px;
        }

        .qty-container .qty-btn-minus,
        .qty-container .qty-btn-plus {
            border: 1px solid #d4d4d4;
            padding: 10px 13px;
            font-size: 10px;
            height: 38px;
            width: 38px;
            transition: 0.3s;
        }

        .qty-container .qty-btn-plus {
            margin-left: -1px;
        }
        
        .qty-container .qty-btn-minus {
            margin-right: -1px;
        }

        .count {
            font-size: 20px;
            font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-weight: 900;
            color: #202020;
        }

        .prices {
            width: 100px;
            height: 100%;
            text-align: right;
        }

        .amount {
            padding-top: 20px;
            font-size: 26px;
            font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-weight: 400;
            color: #202020;
        }

        .save {
            padding-top: 5px;
            font-size: 14px;
            font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-weight: 600;
            color: #1687d9;
            cursor: pointer;
        }

        .remove {
            padding-top: 5px;
            
        }

        .remove-button {
            background: none;
            border: none;
            font-size: 14px;
            font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-weight: 600;
            color: #E44C4C;
            cursor: pointer;
            text-decoration: underline;
        }

        hr {
            width: 66%;
            float: right;
            margin-right: 5%;
        }
        .checkout {
            float: right;
            margin-right: 5%;
            width: 28%;
        }
        .total {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
        .subtotal {
            font-size: 22px;
            font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-weight: 700;
            color: #202020;
        }
        .items {
            font-size: 16px;
            font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-weight: 500;
            color: #909090;
            line-height: 10px;
        }
        .total-amount {
            font-size: 36px;
            font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-weight: 900;
            color: #202020;
        }
        .button {
            margin-top: 5px;
            width: 100%;
            height: 40px;
            border: none;
            background-color: #e8c7c8;
            border-color: #e8c7c8;
            border-radius: 20px;
            cursor: pointer;
            font-size: 16px;
            font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-weight: 600;
            color: #202020;
        }

        button:hover {
            background-color: #b86d7e;
            border-color: #b86d7e;
        }
    </style>
</head>

<body>
    
    <h1 class="mt-5">Shopping Cart</h1>

    <% cart.parts.forEach(item => { %>
        <div class="cart-item">
            <div class="image-box">
                <img src="<%= item.pictureURL %>" alt="<%= item.description %>" style="height: 120px;" />
            </div>
            <div class="about">
                <div class="text-details">
                    <h2 class="name"><%= item.description %></h2>
                    <h3 class="weight"><%= item.weight %> lbs</h3>
                </div>
            </div>
                <form action="/updateQuantity" method="post" class="qty-container">
                    <input type="hidden" name="productId" value="<%= item.number %>">
                    <button class="qty-btn-minus btn-light" type="submit" name="action" value="decrement">
                        <i class="bi bi-dash-lg"></i>
                    </button>
                    <input type="text" name="qty" value="<%= item.quantity %>" class="input-qty" readonly/>
                    <% if (item.quantity < item.inStockQuantity) { %>
                        <button class="qty-btn-plus btn-light" type="submit" name="action" value="increment">
                            <i class="bi bi-plus-lg"></i>
                        </button>
                    <% } else { %>
                        <button class="qty-btn-plus btn-light" type="submit" name="action" value="increment" disabled>
                            <i class="bi bi-plus-lg"></i>
                        </button>
                    <% } %>
                </form>
            <div class="prices">
                <div class="amount">$<%= item.price %></div>
                <div class="remove">
                    <form action="/removeItem" method="post">
                        <input type="hidden" name="productId" value="<%= item.number %>">
                        <button type="submit" class="remove-button">Remove</button>
                    </form>
                </div>
            </div>
        </div>
    <% }); %>
    

    <hr> 
        <div class="checkout">
        <div class="total">
        <div>
        <div class="subtotal">Subtotal</div>
        <div class="items"><%= cart.itemCount %> items</div>
        </div>
        <div class="total-amount">$<%= cart.totalPrice.toFixed(2) %></div>
        </div>
        <form action="/checkout" method="post">
            <button class="button">Checkout</button>
        </form>
        </div>

     

</body>
</html>
