<!DOCTYPE html>
<html lang="en">
<head>
    <title>Shopping Cart</title>
    <%- include('partials/navbar') %>
    <style>
        h1 {
            text-align: center;
            font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            margin-bottom: 5%;
        }

        
        .cart-item {
            margin: auto;
            width: 90%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 1px solid #ddd;
            border-radius: 8px;
            padding: 10px;
            margin-bottom: 10px;
        }

        .image-box {
            width: 0%;
            text-align: center;
        }

        .about {
            flex-grow: 1;
            padding: 0 10px;
            text-align: left;
        }

        .text-details {
            width: 70%; 
            margin-left: 20%;
        }

        .name {
            padding-top: 5px;
            line-height: 1.2;
            font-size: 20px;
            font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-weight: 400;
            color: #202020;
        }

        .weight {
            line-height: 1.2;
            font-size: 18px;
            align-items: left;
            font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-weight: 400;
            color: #909090;
        }

      

        .counter {
            width: 15%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .btn {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: #d9d9d9;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 20px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-weight: 900;
            color: #202020;
            cursor: pointer;
        }

        .quantity-input {
            width: 30px; /* Adjust the width of the input field */
            max-width: 30px; /* Set the maximum width of the input field */
            margin-left: 10px; /* Adjust the margin as needed */
        }


        .count {
            font-size: 20px;
            font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-weight: 900;
            color: #202020;
        }

        .prices {
            width: 100px;
            height: 100%;
            text-align: right;
        }

        .amount {
            padding-top: 20px;
            font-size: 26px;
            font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-weight: 400;
            color: #202020;
        }

        .save {
            padding-top: 5px;
            font-size: 14px;
            font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-weight: 600;
            color: #1687d9;
            cursor: pointer;
        }

        .remove {
            padding-top: 5px;
            font-size: 14px;
            font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-weight: 600;
            color: #E44C4C;
            cursor: pointer;
        }

        hr {
            width: 66%;
            float: right;
            margin-right: 5%;
        }
        .checkout {
            float: right;
            margin-right: 5%;
            width: 28%;
        }
        .total {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
        .subtotal {
            font-size: 22px;
            font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-weight: 700;
            color: #202020;
        }
        .items {
            font-size: 16px;
            font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-weight: 500;
            color: #909090;
            line-height: 10px;
        }
        .total-amount {
            font-size: 36px;
            font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-weight: 900;
            color: #202020;
        }
        .button {
            margin-top: 5px;
            width: 100%;
            height: 40px;
            border: none;
            background: linear-gradient(to bottom right, #B8D7FF, #8EB7EB);
            border-radius: 20px;
            cursor: pointer;
            font-size: 16px;
            font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            font-weight: 600;
            color: #202020;
        }
    </style>
</head>

<body>
    
    <h1>Shopping Cart</h1>

    <% cart.parts.forEach(item => { %> 
        <div class="cart-item">
            <div class="image-box">
                <img src="<%= item.pictureURL %>" alt="<%= item.description %>" style="height: 120px;" />
            </div>
            <div class="about">
                <div class="text-details">
                    <h2 class="name"><%= item.description %></h2>
                    <h3 class="weight"><%= item.weight %> lbs</h3>
                </div>
            </div>
            <div class="counter">
                <div class="btn">+</div>
                <div class="count"><%= item.quantity %></div>
                <div class="btn">-</div>
            </div>
            <div class="prices">
                <div class="amount">$<%= item.price %></div>
                <div class="remove"><u>Remove</u></div>
            </div>
        </div>
    <% }); %>
    

    <hr> 
        <div class="checkout">
        <div class="total">
        <div>
        <div class="subtotal">Subtotal</div>
        <div class="items">2 items</div>
        </div>
        <div class="total-amount">$<%= cart.totalPrice %></div>
        </div>
        <button class="button">Checkout</button>
        </div>

     

</body>
</html>
